<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Identity ProX</title>
</head>

<body>
    <nav>
        <div class="container_nav">
            <div class="logo">
                <div class="black"></div>
                <div class="white"></div>
            </div>
            <div class="title">Cyber ProX</div>
            
        </div>
    </nav>

    <div class="upper_container">
        <h1>Accounts</h1>
        <div class="container">
            <div class="titles">
                <div>CN</div>
                <div>Job Title</div>
                <div>Company</div>
                <div>Location</div>
            </div>
            <% for(let identity of identities) {%>
            <div class="user">
                <div><%=identity.cn%></div>
                <div><%=identity.title%></div>
                <div><%=identity.company%></div>
                <div><%=identity.location%></div>
            </div>
            <hr>
            <%}%>
        </div>
    </div>
    <button><a href="/new">Add New</a></button>


    <footer>
        <div class="container_footer">
            <h4>NokoDev</h4>
            <h4>@</h4>
            <h4>Cyber ProX / 2022</h4>
        </div>
    </footer>
</body>

</html>