body {
  background-color: whitesmoke;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
nav {
  background-color: white;
  height: 55px;
  max-width: 100%;
}
.log {
  position: relative;
  overflow: hidden;
}
.black {
  top: 2px;
  z-index: 100;
  border: 2px solid white;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}
.white {
  z-index: 50;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: brown;
  box-shadow: 2px 2px 3px black;
}
.title {
  letter-spacing: 0.5px;
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  top: 10px;
  position: relative;

  left: 50px;
}
.upper_container {
  margin-inline: auto;

  max-width: 80%;
}
.container_nav {
  margin-inline: auto;
  padding: 5px;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.container {
  margin-top: 10px;
  background-color: white;
  border-radius: 8px;
  margin-inline: auto;
  max-width: 80%;
  padding: 10px;
  height: 350px;
}
h1 {
  margin: 15px 0 5px 0;
}
footer {
  margin-top: auto;
  background-color: rgb(30, 30, 31);
  max-width: 100%;
  height: 55px;
}
.container_footer {
  margin-inline: auto;
  padding: 5px;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  height: fit-content;
}
h4{
    margin: 4px;
    color: whitesmoke;
}
