body{
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
nav{
    background-color: white;
    height: 55px;
    width: 100%;

}
h1{
    color: red;
}
.conatiner:nth-child(1){
    margin-top: 0;
}
.container{
    margin-top: 65px;
    background-color: white;
    border-radius: 8px;
    margin-inline: auto;
    max-width: 80%;
    padding: 10px;
}